*{
    margin:0;
    padding: 0;

}
body{
    background-color: white;
    color:black;
    font-family: 'Poppins',sans-serif
}
nav{
    display:flex;
    justify-content: space-around;
    align-items:center;
    height: 80px;
    background-color: black;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin:0 23px;
}
nav ul li a{
    color:white;
    text-decoration: none;
}
nav ul li a:hover{
    color:yellow;
    text-decoration: none;
    font-size: 1.04rem;

}
.left{
    font-size: 1.8rem;
    margin:30px 0;
    color:white
}
.first{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}
.leftSection{
font-size: 2rem;
}
.first > div {
width:30%;
}
.rightSection img{
width:65%;  
margin:50px 0;
}
.purple{
color : rgb(116, 49, 179);
}
#element{
    color : rgb(116, 49, 179);
}
.second{
max-width: 95vw;
margin:auto;

}
main hr{
border:0;
background:black;
height:2.2px;
margin:0px 84px;
}
#bottom{
    display:flex;
    justify-content: right;
    align-items:end;
    margin:0px 75px;
}
#bottom ul{
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    align-items:end;

}
#bottom ul li{
    list-style: none;
    margin:0 5px;
}
#bottom ul li a{
    margin:0 10px;
    font-size: large;
    color:black
}
#bottom ul li a:hover{
    color:black;
    text-decoration: none;
    font-size: 1.6rem;
}